{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Booking{% endblock %}

{% block content %}
    <div class="container-lg">
        <header class="text-center">
            <h1 class="">Screening for:</h1>
            <table class="table table-striped mb-5">
                <tbody>
                <tr>
                    <th scope="row">Cinema hall:</th>
                    <td>{{ repertoire.cinema_hall }}</td>
                </tr>
                <tr>
                    <th scope="row">Movie:</th>
                    <td>{{ repertoire.movie }}</td>
                </tr>
                <tr>
                    <th scope="row">Date:</th>
                    <td>{{ repertoire.screening_date|date:'Y.m.l' }}</td>
                </tr>
                <tr>
                    <th scope="row">Time:</th>
                    <td>{{ repertoire.screening_time|date:'H:i' }}</td>
                </tr>
                <tr>
                    <th scope="row">Price:</th>
                    <td>{{ repertoire.price }} &euro;</td>
                </tr>
                </tbody>
            </table>
        </header>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center mb-5">
            <table class="table table-striped" style="width: 800px; height: 10px">
                <tbody>
                <tr class="text-center">
                    <td class="m-0 p-0" style="font-size: 10px">Screen</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center">
            <div class="wrapper mb-5">
                <div class="box-description pa1">A</div>
                <div class="box-available pa2">A1</div>
                <div class="box-available pa3">A2</div>
                <div class="box-none pa4">None</div>
                <div class="box-available pa5">A3</div>
                <div class="box-available pa6">A4</div>
                <div class="box-available pa7">A5</div>
                <div class="box-available pa8">A6</div>
                <div class="box-available pa9">A7</div>
                <div class="box-available pa10">A8</div>
                <div class="box-available pa11">A9</div>
                <div class="box-available pa12">A10</div>
                <div class="box-none pa13">None</div>
                <div class="box-available pa14">A11</div>
                <div class="box-available pa15">A12</div>
                <div class="box-description pa16">A</div>
                {#-----------------------------------------#}
                <div class="box-description pb1">B</div>
                <div class="box-available pb2">B1</div>
                <div class="box-available pb3">B2</div>
                <div class="box-none pb4">None</div>
                <div class="box-available pb5">B3</div>
                <div class="box-available pb6">B4</div>
                <div class="box-available pb7">B5</div>
                <div class="box-available pb8">B6</div>
                <div class="box-available pb9">B7</div>
                <div class="box-available pb10">B8</div>
                <div class="box-available pb11">B9</div>
                <div class="box-available pb12">B10</div>
                <div class="box-none pb13">None</div>
                <div class="box-available pb14">B11</div>
                <div class="box-available pb15">B12</div>
                <div class="box-description pb16">B</div>
                {#-----------------------------------------#}
                <div class="box-description pc1">C</div>
                <div class="box-available pc2">C1</div>
                <div class="box-available pc3">C2</div>
                <div class="box-none pc4">None</div>
                <div class="box-available pc5">C3</div>
                <div class="box-available pc6">C4</div>
                <div class="box-available pc7">C5</div>
                <div class="box-available pc8">C6</div>
                <div class="box-available pc9">C7</div>
                <div class="box-available pc10">C8</div>
                <div class="box-available pc11">C9</div>
                <div class="box-available pc12">C10</div>
                <div class="box-none pc13">None</div>
                <div class="box-available pc14">C11</div>
                <div class="box-available pc15">C12</div>
                <div class="box-description pc16">C</div>
                {#-----------------------------------------#}
                <div class="box-description pd1">D</div>
                <div class="box-available pd2">D1</div>
                <div class="box-available pd3">D2</div>
                <div class="box-none pd4">None</div>
                <div class="box-available pd5">D3</div>
                <div class="box-available pd6">D4</div>
                <div class="box-available pd7">D5</div>
                <div class="box-available pd8">D6</div>
                <div class="box-available pd9">D7</div>
                <div class="box-available pd10">D8</div>
                <div class="box-available pd11">D9</div>
                <div class="box-available pd12">D10</div>
                <div class="box-none pd13">None</div>
                <div class="box-available pd14">D11</div>
                <div class="box-available pd15">D12</div>
                <div class="box-description pd16">D</div>
                {#-----------------------------------------#}
                <div class="box-description pe1">E</div>
                <div class="box-available pe2">E1</div>
                <div class="box-available pe3">E2</div>
                <div class="box-none pe4">None</div>
                <div class="box-available pe5">E3</div>
                <div class="box-available pe6">E4</div>
                <div class="box-available pe7">E5</div>
                <div class="box-available pe8">E6</div>
                <div class="box-available pe9">E7</div>
                <div class="box-available pe10">E8</div>
                <div class="box-available pe11">E9</div>
                <div class="box-available pe12">E10</div>
                <div class="box-none pe13">None</div>
                <div class="box-available pe14">E11</div>
                <div class="box-available pe15">E12</div>
                <div class="box-description pe16">E</div>
                {#-----------------------------------------#}
                <div class="box-description pf1">F</div>
                <div class="box-available pf2">F1</div>
                <div class="box-available pf3">F2</div>
                <div class="box-none pf4">None</div>
                <div class="box-available pf5">F3</div>
                <div class="box-available pf6">F4</div>
                <div class="box-available pf7">F5</div>
                <div class="box-available pf8">F6</div>
                <div class="box-available pf9">F7</div>
                <div class="box-available pf10">F8</div>
                <div class="box-available pf11">F9</div>
                <div class="box-available pf12">F10</div>
                <div class="box-none pf13">None</div>
                <div class="box-available pf14">F11</div>
                <div class="box-available pf15">F12</div>
                <div class="box-description pf16">F</div>
                {#-----------------------------------------#}
                <div class="box-description pg1">G</div>
                <div class="box-available pg2">G1</div>
                <div class="box-available pg3">G2</div>
                <div class="box-none pg4">None</div>
                <div class="box-available pg5">G3</div>
                <div class="box-available pg6">G4</div>
                <div class="box-available pg7">G5</div>
                <div class="box-available pg8">G6</div>
                <div class="box-available pg9">G7</div>
                <div class="box-available pg10">G8</div>
                <div class="box-available pg11">G9</div>
                <div class="box-available pg12">G10</div>
                <div class="box-none pg13">None</div>
                <div class="box-available pg14">G11</div>
                <div class="box-available pg15">G12</div>
                <div class="box-description pg16">G</div>
                {#-----------------------------------------#}
                <div class="box-description ph1">H</div>
                <div class="box-available ph2">H1</div>
                <div class="box-available ph3">H2</div>
                <div class="box-none ph4">None</div>
                <div class="box-available ph5">H3</div>
                <div class="box-available ph6">H4</div>
                <div class="box-available ph7">H5</div>
                <div class="box-available ph8">H6</div>
                <div class="box-available ph9">H7</div>
                <div class="box-available ph10">H8</div>
                <div class="box-available ph11">H9</div>
                <div class="box-available ph12">H10</div>
                <div class="box-none ph13">None</div>
                <div class="box-available ph14">H11</div>
                <div class="box-available ph15">H12</div>
                <div class="box-description ph16">H</div>
                {#-----------------------------------------#}
                <div class="box-description pi1">I</div>
                <div class="box-available pi2">I1</div>
                <div class="box-available pi3">I2</div>
                <div class="box-none pi4">None</div>
                <div class="box-available pi5">I3</div>
                <div class="box-available pi6">I4</div>
                <div class="box-available pi7">I5</div>
                <div class="box-available pi8">I6</div>
                <div class="box-available pi9">I7</div>
                <div class="box-available pi10">I8</div>
                <div class="box-available pi11">I9</div>
                <div class="box-available pi12">I10</div>
                <div class="box-none pi13">None</div>
                <div class="box-available pi14">I11</div>
                <div class="box-available pi15">I12</div>
                <div class="box-description pi16">I</div>
                {#-----------------------------------------#}
                <div class="box-description pj1">J</div>
                <div class="box-available pj2">J1</div>
                <div class="box-available pj3">J2</div>
                <div class="box-none pj4">None</div>
                <div class="box-available pj5">J3</div>
                <div class="box-available pj6">J4</div>
                <div class="box-available pj7">J5</div>
                <div class="box-available pj8">J6</div>
                <div class="box-available pj9">J7</div>
                <div class="box-available pj10">J8</div>
                <div class="box-available pj11">J9</div>
                <div class="box-available pj12">J10</div>
                <div class="box-none pj13">None</div>
                <div class="box-available pj14">J11</div>
                <div class="box-available pj15">J12</div>
                <div class="box-description pj16">J</div>
            </div>
        </div>
    </div>
{% endblock %}
