{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Booking{% endblock %}

{% block content %}
    <div class="container-lg">
        <header class="text-center">
            <h1 class="">Screening for:</h1>
            <table class="table table-striped mb-5">
                <tbody>
                <tr>
                    <th scope="row">Cinema hall:</th>
                    <td>{{ repertoire.cinema_hall }}</td>
                </tr>
                <tr>
                    <th scope="row">Movie:</th>
                    <td>{{ repertoire.movie }}</td>
                </tr>
                <tr>
                    <th scope="row">Date:</th>
                    <td>{{ repertoire.screening_date|date:'Y.m.l' }}</td>
                </tr>
                <tr>
                    <th scope="row">Time:</th>
                    <td>{{ repertoire.screening_time|date:'H:i' }}</td>
                </tr>
                <tr>
                    <th scope="row">Price:</th>
                    <td>{{ repertoire.price }} &euro;</td>
                </tr>
                </tbody>
            </table>
        </header>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center mb-5">
            <table class="table table-striped" style="width: 800px; height: 10px">
                <tbody>
                <tr class="text-center">
                    <td class="m-0 p-0" style="font-size: 10px">Screen</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center">
            <div class="wrapper">
                <div class="box-description pa1">A</div>
                <div class="box-available pa2">A1</div>
                <div class="box-available pa3">A2</div>
                <div class="box-none pa4">None</div>
                <div class="box-available pa5">A3</div>
                <div class="box-available pa6">A4</div>
                <div class="box-available pa7">A5</div>
                <div class="box-available pa8">A6</div>
                <div class="box-unavailable pa9">A7</div>
                <div class="box-available pa10">A8</div>
                <div class="box-available pa11">A9</div>
                <div class="box-available pa12">A10</div>
                <div class="box-none pa13">None</div>
                <div class="box-unavailable pa14">A11</div>
                <div class="box-available pa15">A12</div>
                <div class="box-description pa16">A</div>
                {#                ----------------------------------------------#}
                <div class="box-description pb1">B</div>
                <div class="box-available pb2">B1</div>
                <div class="box-available pb3">B2</div>
                <div class="box-none pb4">None</div>
                <div class="box-available pb5">B3</div>
                <div class="box-available pb6">B4</div>
                <div class="box-available pb7">B5</div>
                <div class="box-available pb8">B6</div>
                <div class="box-unavailable pb9">B7</div>
                <div class="box-available pb10">B8</div>
                <div class="box-available pb11">B9</div>
                <div class="box-available pb12">B10</div>
                <div class="box-none pb13">None</div>
                <div class="box-unavailable pb14">B11</div>
                <div class="box-available pb15">B12</div>
                <div class="box-description pb16">B</div>
            </div>
        </div>
    </div>
{% endblock %}
