{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Booking{% endblock %}

{% block content %}
    <div class="container-lg">
        <header class="text-center">
            <h1 class="">Screening for:</h1>
            <table class="table table-striped mb-5">
                <tbody>
                <tr>
                    <th scope="row">Cinema hall:</th>
                    <td>{{ repertoire.cinema_hall }}</td>
                </tr>
                <tr>
                    <th scope="row">Movie:</th>
                    <td>{{ repertoire.movie }}</td>
                </tr>
                <tr>
                    <th scope="row">Date:</th>
                    <td>{{ repertoire.screening_date|date:'Y.m.d' }}</td>
                </tr>
                <tr>
                    <th scope="row">Time:</th>
                    <td>{{ repertoire.screening_time|date:'H:i' }}</td>
                </tr>
                <tr>
                    <th scope="row">Price:</th>
                    <td>{{ repertoire.price }} &euro;</td>
                </tr>
                </tbody>
            </table>
        </header>
    </div>
    <div class="text-center" style="">Booked:
        {% for seat in booked_seats %}
            <span class="booked-seats">{{ seat }}</span>
        {% endfor %}
    </div>
    <div class="container">
        <div class="d-flex justify-content-center mb-5">
            <table class="table table-striped" style="width: 800px; height: 10px">
                <tbody>
                <tr class="text-center">
                    <td class="m-0 p-0" style="font-size: 10px">Screen</td>
                </tr>
                </tbody>
            </table>
        </div>
        <form action="{% url 'reservations_app:booking_completed_view' repertoire_id=repertoire.id %}" method="POST"
              id="book-ticket-form">
            {% csrf_token %}
            <div class="d-flex justify-content-center">
                <div class="wrapper mb-5">
                    <div class="box-description pa1">A</div>
                    <div class="box-available pa2" id="available">A1</div>
                    <div class="box-available pa3" id="available">A2</div>
                    <div class="box-none pa4">None</div>
                    <div class="box-available pa5" id="available">A3</div>
                    <div class="box-available pa6" id="available">A4</div>
                    <div class="box-available pa7" id="available">A5</div>
                    <div class="box-available pa8" id="available">A6</div>
                    <div class="box-available pa9" id="available">A7</div>
                    <div class="box-available pa10" id="available">A8</div>
                    <div class="box-available pa11" id="available">A9</div>
                    <div class="box-available pa12" id="available">A10</div>
                    <div class="box-none pa13">None</div>
                    <div class="box-available pa14" id="available">A11</div>
                    <div class="box-available pa15" id="available">A12</div>
                    <div class="box-description pa16">A</div>
                    <div class="box-description pb1">B</div>
                    <div class="box-available pb2" id="available">B1</div>
                    <div class="box-available pb3" id="available">B2</div>
                    <div class="box-none pb4">None</div>
                    <div class="box-available pb5" id="available">B3</div>
                    <div class="box-available pb6" id="available">B4</div>
                    <div class="box-available pb7" id="available">B5</div>
                    <div class="box-available pb8" id="available">B6</div>
                    <div class="box-available pb9" id="available">B7</div>
                    <div class="box-available pb10" id="available">B8</div>
                    <div class="box-available pb11" id="available">B9</div>
                    <div class="box-available pb12" id="available">B10</div>
                    <div class="box-none pb13">None</div>
                    <div class="box-available pb14" id="available">B11</div>
                    <div class="box-available pb15" id="available">B12</div>
                    <div class="box-description pb16">B</div>
                    <div class="box-description pc1">C</div>
                    <div class="box-available pc2" id="available">C1</div>
                    <div class="box-available pc3" id="available">C2</div>
                    <div class="box-none pc4">None</div>
                    <div class="box-available pc5" id="available">C3</div>
                    <div class="box-available pc6" id="available">C4</div>
                    <div class="box-available pc7" id="available">C5</div>
                    <div class="box-available pc8" id="available">C6</div>
                    <div class="box-available pc9" id="available">C7</div>
                    <div class="box-available pc10" id="available">C8</div>
                    <div class="box-available pc11" id="available">C9</div>
                    <div class="box-available pc12" id="available">C10</div>
                    <div class="box-none pc13">None</div>
                    <div class="box-available pc14" id="available">C11</div>
                    <div class="box-available pc15" id="available">C12</div>
                    <div class="box-description pc16">C</div>
                    <div class="box-description pd1">D</div>
                    <div class="box-available pd2" id="available">D1</div>
                    <div class="box-available pd3" id="available">D2</div>
                    <div class="box-none pd4">None</div>
                    <div class="box-available pd5" id="available">D3</div>
                    <div class="box-available pd6" id="available">D4</div>
                    <div class="box-available pd7" id="available">D5</div>
                    <div class="box-available pd8" id="available">D6</div>
                    <div class="box-available pd9" id="available">D7</div>
                    <div class="box-available pd10" id="available">D8</div>
                    <div class="box-available pd11" id="available">D9</div>
                    <div class="box-available pd12" id="available">D10</div>
                    <div class="box-none pd13">None</div>
                    <div class="box-available pd14" id="available">D11</div>
                    <div class="box-available pd15" id="available">D12</div>
                    <div class="box-description pd16">D</div>
                    <div class="box-description pe1">E</div>
                    <div class="box-available pe2" id="available">E1</div>
                    <div class="box-available pe3" id="available">E2</div>
                    <div class="box-none pe4">None</div>
                    <div class="box-available pe5" id="available">E3</div>
                    <div class="box-available pe6" id="available">E4</div>
                    <div class="box-available pe7" id="available">E5</div>
                    <div class="box-available pe8" id="available">E6</div>
                    <div class="box-available pe9" id="available">E7</div>
                    <div class="box-available pe10" id="available">E8</div>
                    <div class="box-available pe11" id="available">E9</div>
                    <div class="box-available pe12" id="available">E10</div>
                    <div class="box-none pe13">None</div>
                    <div class="box-available pe14" id="available">E11</div>
                    <div class="box-available pe15" id="available">E12</div>
                    <div class="box-description pe16">E</div>
                    <div class="box-description pf1">F</div>
                    <div class="box-available pf2" id="available">F1</div>
                    <div class="box-available pf3" id="available">F2</div>
                    <div class="box-none pf4">None</div>
                    <div class="box-available pf5" id="available">F3</div>
                    <div class="box-available pf6" id="available">F4</div>
                    <div class="box-available pf7" id="available">F5</div>
                    <div class="box-available pf8" id="available">F6</div>
                    <div class="box-available pf9" id="available">F7</div>
                    <div class="box-available pf10" id="available">F8</div>
                    <div class="box-available pf11" id="available">F9</div>
                    <div class="box-available pf12" id="available">F10</div>
                    <div class="box-none pf13">None</div>
                    <div class="box-available pf14" id="available">F11</div>
                    <div class="box-available pf15" id="available">F12</div>
                    <div class="box-description pf16">F</div>
                    <div class="box-description pg1">G</div>
                    <div class="box-available pg2" id="available">G1</div>
                    <div class="box-available pg3" id="available">G2</div>
                    <div class="box-none pg4">None</div>
                    <div class="box-available pg5" id="available">G3</div>
                    <div class="box-available pg6" id="available">G4</div>
                    <div class="box-available pg7" id="available">G5</div>
                    <div class="box-available pg8" id="available">G6</div>
                    <div class="box-available pg9" id="available">G7</div>
                    <div class="box-available pg10" id="available">G8</div>
                    <div class="box-available pg11" id="available">G9</div>
                    <div class="box-available pg12" id="available">G10</div>
                    <div class="box-none pg13">None</div>
                    <div class="box-available pg14" id="available">G11</div>
                    <div class="box-available pg15" id="available">G12</div>
                    <div class="box-description pg16">G</div>
                    <div class="box-description ph1">H</div>
                    <div class="box-available ph2" id="available">H1</div>
                    <div class="box-available ph3" id="available">H2</div>
                    <div class="box-none ph4">None</div>
                    <div class="box-available ph5" id="available">H3</div>
                    <div class="box-available ph6" id="available">H4</div>
                    <div class="box-available ph7" id="available">H5</div>
                    <div class="box-available ph8" id="available">H6</div>
                    <div class="box-available ph9" id="available">H7</div>
                    <div class="box-available ph10" id="available">H8</div>
                    <div class="box-available ph11" id="available">H9</div>
                    <div class="box-available ph12" id="available">H10</div>
                    <div class="box-none ph13">None</div>
                    <div class="box-available ph14" id="available">H11</div>
                    <div class="box-available ph15" id="available">H12</div>
                    <div class="box-description ph16">H</div>
                    <div class="box-description pi1">I</div>
                    <div class="box-available pi2" id="available">I1</div>
                    <div class="box-available pi3" id="available">I2</div>
                    <div class="box-none pi4">None</div>
                    <div class="box-available pi5" id="available">I3</div>
                    <div class="box-available pi6" id="available">I4</div>
                    <div class="box-available pi7" id="available">I5</div>
                    <div class="box-available pi8" id="available">I6</div>
                    <div class="box-available pi9" id="available">I7</div>
                    <div class="box-available pi10" id="available">I8</div>
                    <div class="box-available pi11" id="available">I9</div>
                    <div class="box-available pi12" id="available">I10</div>
                    <div class="box-none pi13">None</div>
                    <div class="box-available pi14" id="available">I11</div>
                    <div class="box-available pi15" id="available">I12</div>
                    <div class="box-description pi16">I</div>
                    <div class="box-description pj1">J</div>
                    <div class="box-available pj2" id="available">J1</div>
                    <div class="box-available pj3" id="available">J2</div>
                    <div class="box-none pj4">None</div>
                    <div class="box-available pj5" id="available">J3</div>
                    <div class="box-available pj6" id="available">J4</div>
                    <div class="box-available pj7" id="available">J5</div>
                    <div class="box-available pj8" id="available">J6</div>
                    <div class="box-available pj9" id="available">J7</div>
                    <div class="box-available pj10" id="available">J8</div>
                    <div class="box-available pj11" id="available">J9</div>
                    <div class="box-available pj12" id="available">J10</div>
                    <div class="box-none pj13">None</div>
                    <div class="box-available pj14" id="available">J11</div>
                    <div class="box-available pj15" id="available">J12</div>
                    <div class="box-description pj16">J</div>
                </div>
            </div>
            {% if dif_date >= 0 %}
            <button type="button" class="btn btn-success form-control" id="book-ticket" disabled>Book ticket!</button>
            {% else %}
                <div class="btn btn-info form-control">It is not possible to book tickets with an older date.</div>
            {% endif %}
        </form>
    </div>
{% endblock %}
