{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Repertoire{% endblock %}

{% block content %}
    <div class="container-lg">
        <header class="d-flex align-items-center justify-content-center">
            <h1 class="">REPERTOIRE</h1>
            <span class="p-2" id="actual-date">{% if date_selected is Null %}{{ date_selected }}{% else %}
                {{ date_selected }}{% endif %}</span>
        </header>
        <div class="text-center">
            <form action="" method="GET">
                {#                {% csrf_token %}#}
                <input type="date" name="date"
                       placeholder='YYYY-MM-DD' value={{ date_selected }}
                               min="2020-01-01" max="2030-12-31">
                <button type="submit" class="btn btn-primary">Search!</button>
                <a class="btn btn-info text-white" data-bs-toggle="collapse" href="#filters" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    filters and sorting
                </a>
                <p>{{ calendar_error }}</p>

                <div class="collapse mb-3 container-sm" id="filters">
                    <div class="card card-body align-items-center">
                        <div class="row align-items-start">
                            <div class="col" style="width: 150px">
                                <span class="">Sort by:</span>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sorting"
                                           id="sorted_screening_time" value="screening_time" checked>
                                    <label class="form-check-label" for="sorted_screening_time">
                                        Screening time
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sorting"
                                           id="sorted_alphabetically" value="alphabetically">
                                    <label class="form-check-label" for="sorted_alphabetically">
                                        Alphabetically
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sorting"
                                           id="sorted_duration" value="duration">
                                    <label class="form-check-label" for="sorted_duration">
                                        Duration
                                    </label>
                                </div>
                            </div>
                            <div class="col" style="width: 250px">
                                <span class="">Filter by:</span>
                                <div class="d-flex">
                                    <label class="m-1" for="genre-names">Genre:</label>
                                    <select class="form-select form-select-sm" name="genres"
                                            aria-label=".form-select-sm"
                                            id="genre-names">
                                        <option value="None">None</option>
                                        {% for genre in genres %}
                                            <option value="{{ genre.1 }}">{{ genre.0 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="repertoires">
            {% for repertoire in repertoires %}
                <div class="card mb-5">
                    <div class="card-horizontal">
                        <div class="float-start">
                            <img class="card-img" src="{% static 'images/movie_icon.svg' %}"
                                 style="height: 10rem; object-fit: scale-down" alt="Movie icon">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ repertoire.movie.title }}</h4>
                            <p class="card-text">Description: {{ repertoire.movie.description }}</p>
                            {#                        <p class="card-text">screening time: {{ movie.screening_time }}</p>#}
                            <p class="card-text">screening time: <span
                                    class="screening-time">{{ repertoire.screening_time|date:'H:i' }}</span></p>
                            <p class="">Genres:
                                {% for genre in repertoire.movie.genre.all %}
                                    <span class="text-muted">{{ genre }}{% if forloop.last %}{% else %}
                                        ,{% endif %}</span>
                                {% endfor %}</p>
                            <div class="">
                                <form action="" method="GET" class="">
                                    <a href="{% url 'reservations_app:booking_view' repertoire.id %}"
                                       class="btn btn-outline-success form-control">Go to cinema hall</a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Duration: {{ repertoire.movie.duration }}</small>
                        <small class="text-muted">Price: {{ repertoire.price }} &euro;</small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
