{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CR - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/my_styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon_cinema.svg' %}"/>
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'scripts/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'scripts/sorting_repertoire.js' %}"></script>
    <script src="{% static 'scripts/seats.js' %}"></script>
</head>
<body>
{% include 'navbar.html' %}
{% block content %}

{% endblock %}
</body>
</html>
